* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*para el fondo*/
body {
    font-family: Arial, sans-serif;
    background-color: #eaafff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.query-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

.query-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #000000;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #e479ff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #e59cf5;
}

.result-container {
    margin-top: 20px;
    padding: 10px;
}

h3 {
    margin-bottom: 10px;
    color: #000000;
}

#result {
    font-size: 16px;
    color: #000000;
}

/* Estilos para la tarjeta de resultados */
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card-text {
    margin: 5px 0;
}

.btn-danger {
    background-color: #de4943;
    color: white;
    border: none;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-danger:hover {
    background-color: #fa7c72;
}

.btn-success {
    background-color: #29d32e;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}


.btn-success:hover {
    background-color: #87e17c;
}

.margin {
    margin-top: 10px;
}
